@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local(''), url(/assets/fonts/inter/inter-v12-latin_cyrillic-ext-300.woff2) format('woff2'),
    url(/assets/fonts/inter/inter-v12-latin_cyrillic-ext-300.woff) format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''), url(/assets/fonts/inter/inter-v12-latin_cyrillic-ext-regular.woff2) format('woff2'),
    url(/assets/fonts/inter/inter-v12-latin_cyrillic-ext-regular.woff) format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(''), url(/assets/fonts/inter/inter-v12-latin_cyrillic-ext-600.woff2) format('woff2'),
    url(/assets/fonts/inter/inter-v12-latin_cyrillic-ext-600.woff) format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''), url(/assets/fonts/inter/inter-v12-latin_cyrillic-ext-700.woff2) format('woff2'),
    url(/assets/fonts/inter/inter-v12-latin_cyrillic-ext-700.woff) format('woff');
}

@font-face {
  font-family: Forum;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
    url(/assets/fonts/forum/forum-v16-latin_cyrillic-ext-regular.woff2) format('woff2'),
    url(/assets/fonts/forum/forum-v16-latin_cyrillic-ext-regular.woff) format('woff');
}

@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local(''),
    url(/assets/fonts/ubuntu/ubuntu-v20-latin_cyrillic-ext-300.woff2) format('woff2'),
    url(/assets/fonts/ubuntu/ubuntu-v20-latin_cyrillic-ext-300.woff) format('woff');
}