---
layout: base
---

{% set pageHeaderTitle = title %} 
{% set pageHeaderSummary = content %} 
{% set postslist = pagination.items %} 
{# If this is a tag, grab those items instead as one large collection #} 
{% if tag %} 
{% set postslist =collections[tag] %} 
{% set pageHeaderTitle = 'Дописи в блозі асоційовані з “' + tag + '”' %} 
{% endif %} 
  {% include "partials/header.njk" %}
<div class="blog-page region">
  <div class="wrapper">
    {% include "partials/page-header.njk" %} 
    {% include "partials/post-list.njk" %} 
    {% if not tag %} 
    {% include "partials/pagination.njk"%} 
    {% endif %}
  </div>
</div>
{% include "partials/contact-form.njk" %}

 