---
layout: base
youtube: true
---

			<article class="first">
				<div class="first__bg">
					<div class="first__bg-mob">
            <!-- header -->
            {% include "partials/header.njk" %}

			{% include "partials/hero.njk" %}
            
						<div class="first__container">
							<div class="first__mob-link">
								<a href="tel:+380971336851">
									<img src="assets/images/icons/phone.svg" alt="">
									+38 097 133 68 51
								</a>
							</div>
							<h1 class="first__motto">Успіх клієнта - <br> мій успіх</h1>
							<div class="first__cta">
								<p class="first__text">Збережіть свої нервові клітини та кошти - зверніться до мене та живіть спокійно.</p>
								<p class="first__name">Катерина Панчелюга</p>
								<p class="first__work">Ваш адвокат</p>
							</div>
							<div class="first__box">
								<a href="#contact" class="first__consult">Записатись на консультацію
								</a>
								<a href="/prices/" class="first__price">Вартість
									<svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 1L7 7L1 13" stroke="" stroke-width="2" stroke-linecap="round" />
									</svg>
								</a>
							</div>
						</div>
					</div>
					<div class="first__container _about">
						<div class="first__about">
							<h2 class="first__about-title">Ключові факти моєї професійної діяльності</h2>
							<div class="first__about-box">
								<div class="first__about-item">
									<div class="first__item-box">
										<div class="first__item-icon">
											<img src="assets/images/icons/01.svg" alt="">
										</div>
										<div class="first__item-text">
											<p class="first__item-top"><span>13</span> років
											</p>
											<p class="first__item-bottom">Юридичної практики
											</p>
										</div>
									</div>
								</div>
								<div class="first__about-item">
									<div class="first__item-box">
										<div class="first__item-icon">
											<img src="assets/images/icons/02.svg" alt="">
										</div>
										<div class="first__item-text">
											<p class="first__item-top"><span>7</span> років
											</p>
											<p class="first__item-bottom">Практикуючий адвокат
											</p>
										</div>
									</div>
								</div>
								<div class="first__about-item">
									<div class="first__item-box">
										<div class="first__item-icon">
											<img src="assets/images/icons/03.svg" alt="">
										</div>
										<div class="first__item-text">
											<p class="first__item-top"><span>5</span> років
											</p>
											<p class="first__item-bottom">Досвіду роботи в прокуратурі
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>

			{% include "partials/sphere.njk" %}
			
			{% include "partials/media.njk" %}

			{% include "partials/contact-form.njk" %}

			{% include "partials/recent-posts.njk" %}