---
layout: base
---

			<article class="first">
				<div class="first__bg">
					<div class="first__bg-mob">
            <!-- header -->
            {% include "partials/header.njk" %}
            
						<div class="first__container">
							<p class="first__mob-link">
								<a href="tel:+380971336851">
									<img src="img/icons/phone.svg" alt="">
									+38 097 133 68 51
								</a>
							</p>
							<h1 class="first__title">Успіх клієнта - <br> мій успіх
							</h1>
							<p class="first__text">Збережіть свої нервові клітини та кошти - зверніться до мене та
								живіть
								спокійно.
							</p>
							<p class="first__name">Катерина Панчелюга</p>
							<p class="first__work">Ваш адвокат
							</p>
							<div class="first__box">
								<a href="#!" class="first__consult">Записатись на консультацію
								</a>
								<a href="#!" class="first__price">Вартість
									<svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 1L7 7L1 13" stroke="" stroke-width="2" stroke-linecap="round" />
									</svg>
								</a>
							</div>
						</div>
					</div>
					<div class="first__container _about">
						<div class="first__about">
							<p class="first__about-title">Ключові факти моєї професійної діяльності</p>
							<div class="first__about-box">
								<div class="first__about-item">
									<div class="first__item-box">
										<div class="first__item-icon">
											<img src="img/icons/01.svg" alt="">
										</div>
										<div class="first__item-text">
											<p class="first__item-top"><span>13</span> років
											</p>
											<p class="first__item-bottom">Юридичної практики
											</p>
										</div>
									</div>
								</div>
								<div class="first__about-item">
									<div class="first__item-box">
										<div class="first__item-icon">
											<img src="img/icons/02.svg" alt="">
										</div>
										<div class="first__item-text">
											<p class="first__item-top"><span>7</span> років
											</p>
											<p class="first__item-bottom">Практикуючий адвокат
											</p>
										</div>
									</div>
								</div>
								<div class="first__about-item">
									<div class="first__item-box">
										<div class="first__item-icon">
											<img src="img/icons/03.svg" alt="">
										</div>
										<div class="first__item-text">
											<p class="first__item-top"><span>5</span> років
											</p>
											<p class="first__item-bottom">Досвіду роботи в прокуратурі
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="sphere">
				<div class="sphere__container">
					<h2 class="sphere__title _title">Сфери моєї компетенції
					</h2>
					<p class="sphere__sutitle _subtitle">Я можу допомогти у вирішенні наступних питань:
					</p>
					<div class="sphere__box">
						<div class="sphere__item">
							<div class="sphere__item-box">
								<div class="sphere__icon">
									<img src="img/icons/04.svg" alt="">
								</div>
								<div class="sphere__content">
									<p class="sphere__item-title">Справи щодо нерухомого майна та землі
									</p>
									<p class="sphere__text">суперечки і складнощі з поділом, купівлею-продажем,
										даруванням, орендою
									</p>
								</div>
							</div>
						</div>
						<div class="sphere__item">
							<div class="sphere__item-box">
								<div class="sphere__icon">
									<img src="img/icons/05.svg" alt="">
								</div>
								<div class="sphere__content">
									<p class="sphere__item-title">Сімейні спори
									</p>
									<p class="sphere__text">розлучення, поділ майна, опіка над дітьми, аліменти
									</p>
								</div>
							</div>
						</div>
						<div class="sphere__item">
							<div class="sphere__item-box">
								<div class="sphere__icon">
									<img src="img/icons/06.svg" alt="">
								</div>
								<div class="sphere__content">
									<p class="sphere__item-title">Бізнес консалтинг
									</p>
									<p class="sphere__text">складання надійних договорів, стягнення шкоди за невиконання
										умов договорів
									</p>
								</div>
							</div>
						</div>
						<div class="sphere__item">
							<div class="sphere__item-box">
								<div class="sphere__icon">
									<img src="img/icons/07.svg" alt="">
								</div>
								<div class="sphere__content">
									<p class="sphere__item-title">Справи, що стосуються мобілізації і військових
									</p>
									<p class="sphere__text">підстави звільнення від мобілізації, оскарження рішень ВЛК,
										звільнення зі служби у війську
									</p>
								</div>
							</div>
						</div>
						<div class="sphere__item">
							<div class="sphere__item-box">
								<div class="sphere__icon">
									<img src="img/icons/08.svg" alt="">
								</div>
								<div class="sphere__content">
									<p class="sphere__item-title">Пенсійні справи
									</p>
									<p class="sphere__text">призначення виплат пенсіонерам, відсудження доплат і
										надбавок чорнобильцям
									</p>
								</div>
							</div>
						</div>
						<div class="sphere__item">
							<div class="sphere__item-box">
								<div class="sphere__icon">
									<img src="img/icons/09.svg" alt="">
								</div>
								<div class="sphere__content">
									<p class="sphere__item-title">Справи щодо компенсації завданої шкоди
									</p>
									<p class="sphere__text">з приводу псування майна (залиття, пошкодження)
									</p>
								</div>
							</div>
						</div>
						<div class="sphere__item">
							<div class="sphere__item-box">
								<div class="sphere__icon">
									<img src="img/icons/10.svg" alt="">
								</div>
								<div class="sphere__content">
									<p class="sphere__item-title">Проблеми, пов’язані
										з ДТП
									</p>
									<p class="sphere__text">штрафи, стягнення шкоди і спори зі страховими компаніями
									</p>
								</div>
							</div>
						</div>
						<div class="sphere__item">
							<div class="sphere__item-box">
								<div class="sphere__icon">
									<img src="img/icons/11.svg" alt="">
								</div>
								<div class="sphere__content">
									<p class="sphere__item-title">Трудові спори</p>
									<p class="sphere__text">звільнення з роботи, неправомірність доган
										і дисциплінарних стягнень</p>
								</div>
							</div>
						</div>
						<div class="sphere__item">
							<div class="sphere__item-box">
								<div class="sphere__icon">
									<img src="img/icons/12.svg" alt="">
								</div>
								<div class="sphere__content">
									<p class="sphere__item-title">Ведення справ щодо зняття арештів у виконавчій службі
									</p>
									<p class="sphere__text">блокування рахунків, арешт майна (виконання судових рішень)
										арешт щодо боргових зобов’язань
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="media">
				<div class="media__container">
					<h2 class="media__title _title">Я в медіа-просторі
					</h2>
					<p class="media__subtitle _subtitle">Перегляньте відео моїх консультацій на телеканалі «Рівне 1»</p>
					<div class="media__slider-box">
						<!-- Оболонка слайдера -->
						<div class="media__slider swiper" data-showmore="items">

							<!-- Частина слайдера, що рухається -->
							<div class="media__wrapper swiper-wrapper" data-showmore-content="3">
								<!-- Слайд -->
								<div class="media__slide swiper-slide">
									<div class="media__slide-img">
										<img src="img/01.jpg" alt="">
									</div>
									<p class="media__slider-title">Довічне ув’язнення чи спадок:
										що обрати? </p>
									<p class="media__slider-text">Ефір від 15.09.2020 р.</p>
								</div>
								<div class="media__slide swiper-slide">
									<div class="media__slide-img">
										<img src="img/02.jpg" alt="">
									</div>
									<p class="media__slider-title">Довічне ув’язнення чи спадок:
										що обрати? </p>
									<p class="media__slider-text">Ефір від 15.09.2020 р.</p>
								</div>
								<div class="media__slide swiper-slide">
									<div class="media__slide-img">
										<img src="img/03.jpg" alt="">
									</div>
									<p class="media__slider-title">Дача: що потрібно знати, щоб не мати
										клопотів з законом?</p>
									<p class="media__slider-text">Ефір від 15.09.2020 р.</p>
								</div>
								<div class="media__slide swiper-slide">
									<div class="media__slide-img">
										<img src="img/01.jpg" alt="">
									</div>
									<p class="media__slider-title">Довічне ув’язнення чи спадок:
										що обрати? </p>
									<p class="media__slider-text">Ефір від 15.09.2020 р.</p>
								</div>
								<div class="media__slide swiper-slide">
									<div class="media__slide-img">
										<img src="img/02.jpg" alt="">
									</div>
									<p class="media__slider-title">Довічне ув’язнення чи спадок:
										що обрати? </p>
									<p class="media__slider-text">Ефір від 15.09.2020 р.</p>
								</div>
								<div class="media__slide swiper-slide">
									<div class="media__slide-img">
										<img src="img/03.jpg" alt="">
									</div>
									<p class="media__slider-title">Дача: що потрібно знати, щоб не мати
										клопотів з законом?</p>
									<p class="media__slider-text">Ефір від 15.09.2020 р.</p>
								</div>
							</div>
							<button hidden data-showmore-button type="button" class="block__more mobile">
								<span>Більше відео
								</span>
								<span>Приховати</span>
							</button>
							<!-- Якщо потрібна навігація (ліворуч/праворуч) -->
							<button type="button" class="mediaswiper-button-prev">
								<img src="img/icons/left1.svg" alt="">
							</button>
							<button type="button" class="mediaswiper-button-next">
								<img src="img/icons/right1.svg" alt="">
							</button>
						</div>
					</div>
				</div>
			</article>
			<article class="contact" style="background-image:url('img/07.jpg');">
				<div class="contact__container">
					<div class="contact__box">
						<div class="contact__left">
							<p class="contact__title">Зв’яжіться зі мною
							</p>
							<p class="contact__subtitle">Заповніть форму, щоб замовити зворотній дзвінок, або опишіть
								суть своєї проблеми</p>
							<div class="contact__box-input">
								<input autocomplete="off" type="text" name="form[]" data-error="Помилка" placeholder="Ім’я" class="contact__input">
							</div>
							<div class="contact__box-input _flex">
								<input autocomplete="off" type="text" name="form[]" data-error="Помилка" placeholder="Телефон" class="contact__input">
								<input autocomplete="off" type="text" name="form[]" data-error="Помилка" placeholder="E-mail" class="contact__input">
							</div>
							<div class="contact__box-input">
								<textarea autocomplete="off" name="form[]" placeholder="Повідомлення" data-error="Помилка" class="contact__input"></textarea>
							</div>
							<div class="contact__button">
								<button type="submit" class="button">Відправити</button>
							</div>
							<p class="contact__policy">*натискаючи «Відправити», Ви погоджуєтесь
								з <a href="#!">політикою конфіденційності</a>
							</p>
						</div>
						<div class="contact__right">
							<p class="contact__title">Контакти
							</p>
							<div class="contact__right-box">
								<p class="contact__text">Телефон</p>
								<a href="#!" class="contact__link">+38 097 133 68 51
								</a>
							</div>
							<div class="contact__right-box">
								<p class="contact__text">E-mail</p>
								<a href="#!" class="contact__link">advocate.rivne@gmail.com</a>
							</div>
							<div class="contact__right-box">
								<p class="contact__text">Адреса</p>
								<a href="#!" class="contact__link">м. Рівне, вул Паркова, 2</a>
							</div>
							<div class="contact__icons">
								<a href="#!"><img src="img/icons/fb.svg" alt=""></a>
								<a href="#!"><img src="img/icons/insta.svg" alt=""></a>
								<a href="#!"><img src="img/icons/linkedin.svg" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="blog">
				<div class="blog__container">
					<h2 class="blog__title _title">Мої дописи
					</h2>
					<p class="blog__subtitle _subtitle">Ознайомтеся з кількома цікавими випадками з мого професійного
						життя</p>
					<div class="blog__slider-box">
						<!-- Оболонка слайдера -->
						<div class="blog__slider swiper" data-showmore="items">

							<!-- Частина слайдера, що рухається -->
							<div class="blog__wrapper swiper-wrapper" data-showmore-content="3">
								<!-- Слайд -->
								<div class="blog__slide swiper-slide">
									<div class="blog__slide-img">
										<img src="img/04.jpg" alt="">
									</div>
									<div class="blog__block">
										<p class="blog__slider-title">Як ми повернули клієнту пенсію і отримали виплати
											за 4
											роки</p>
										<p class="blog__slider-text">Розповім вам історію мого клієнта, яка почалась 4
											роки
											тому, а завершилась нещодавно.
										</p>
										<a href="#!" class="blog__link">Читати більше <img src="img/icons/orange-arrow.svg" alt=""></a>
									</div>
								</div>
								<div class="blog__slide swiper-slide">
									<div class="blog__slide-img">
										<img src="img/05.jpg" alt="">
									</div>
									<div class="blog__block">
										<p class="blog__slider-title">Про опіку</p>
										<p class="blog__slider-text">Однією із законних підстав, яка вказує, що чоловік
											не
											може бути мобілізованим є опікунство.

										</p>
										<a href="#!" class="blog__link">Читати більше <img src="img/icons/orange-arrow.svg" alt=""></a>
									</div>
								</div>
								<div class="blog__slide swiper-slide">
									<div class="blog__slide-img">
										<img src="img/06.jpg" alt="">
									</div>
									<div class="blog__block">
										<p class="blog__slider-title">Розлучення: 4 в1? Як не зустріти «підводні
											камені»?
										</p>
										<p class="blog__slider-text">Я так і не докопался звідки походить стереотип, що
											процес розлучення автоматично включає в себе поділ...
										</p>
										<a href="#!" class="blog__link">Читати більше <img src="img/icons/orange-arrow.svg" alt=""></a>
									</div>
								</div>
								<div class="blog__slide swiper-slide">
									<div class="blog__slide-img">
										<img src="img/04.jpg" alt="">
									</div>
									<div class="blog__block">
										<p class="blog__slider-title">Як ми повернули клієнту пенсію і отримали виплати
											за 4
											роки</p>
										<p class="blog__slider-text">Розповім вам історію мого клієнта, яка почалась 4
											роки
											тому, а завершилась нещодавно.
										</p>
										<a href="#!" class="blog__link">Читати більше <img src="img/icons/orange-arrow.svg" alt=""></a>
									</div>
								</div>
								<div class="blog__slide swiper-slide">
									<div class="blog__slide-img">
										<img src="img/05.jpg" alt="">
									</div>
									<div class="blog__block">
										<p class="blog__slider-title">Про опіку</p>
										<p class="blog__slider-text">Однією із законних підстав, яка вказує, що чоловік
											не
											може бути мобілізованим є опікунство.

										</p>
										<a href="#!" class="blog__link">Читати більше <img src="img/icons/orange-arrow.svg" alt=""></a>
									</div>
								</div>
								<div class="blog__slide swiper-slide">
									<div class="blog__slide-img">
										<img src="img/06.jpg" alt="">
									</div>
									<div class="blog__block">
										<p class="blog__slider-title">Розлучення: 4 в1? Як не зустріти «підводні
											камені»?
										</p>
										<p class="blog__slider-text">Я так і не докопался звідки походить стереотип, що
											процес розлучення автоматично включає в себе поділ...
										</p>
										<a href="#!" class="blog__link">Читати більше <img src="img/icons/orange-arrow.svg" alt=""></a>
									</div>
								</div>
							</div>
							<button hidden data-showmore-button type="button" class="block__more mobile">
								<span>Більше дописів</span>
								<span>Приховати</span>
							</button>
							<!-- Якщо потрібна навігація (ліворуч/праворуч) -->
							<button type="button" class="blogswiper-button-prev">
								<img src="img/icons/left1.svg" alt="">
							</button>
							<button type="button" class="blogswiper-button-next">
								<img src="img/icons/right1.svg" alt="">
							</button>
						</div>
					</div>
				</div>
			</article>