<article class="myself">
    {% include "partials/header.njk" %}
    <div class="myself__container wrapper">
		<div class="myself__box region">
			<div class="myself__box-texts flow">
				<h1 class="page-header">{{ title }}</h1>
				<p class="myself__subtitle">Вітаю! Я - Катерина Панчелюга, адвокатка.</p>
				<p class="myself__text"><span>
					Уже 14 років я допомагаю людям відстоювати їхні права і боротися з труднощами за допомогою закону.</span>
				</p>
				<p class="myself__text">По суті, моя професія - розв’язувати проблеми, які здатні забирати
					спокій і впевненість
					в майбутньому. Саме так часто говорять мої клієнти, отримуючи від мене на руки папку
					з документами закритої і вирішеної справи.</p>
				<p class="myself__text">З 2008 року - я практикуючий юрист. Маю 5 річний досвід роботи в
					прокуратурі,
					а з 2015 року я працюю як адвокат.</p>
				<p class="myself__text">Так, досвід у мене чималий. Нещодавно я підрахувала, що відвідала
					близько 14000 судових
					засідань, обстоюючи інтереси більше 700 своїх клієнтів.</p>
				<div class="myself__img">
					<img src="../assets/images/hero_about_mobile.webp" alt="Фото Катерини Панчелюги">
				</div>
				<p class="myself__text"><span>За цей час вела справи про:</span>
				</p>
				<ul class="myself__list">
					<li>відшкодування втрат бізнесу;
					</li>
					<li>аліменти, опікунство;
					</li>
					<li>зняття арештів з майна;</li>
					<li>призначення пенсійних виплат;</li>
					<li>поділ власності;</li>
					<li>визнання завданої шкоди;</li>
					<li>вирішення земельних питань;</li>
					<li>щодо ДТП та штрафів;</li>
					<li>розлучення;</li>
					<li>визнання договорів недійсними.</li>
				</ul>
				<p class="myself__text">З 2022 року я також успішно веду справи клієнтів, що стосуються
					мобілізації та правових аспектів служби у війську.
				</p>
				<p class="myself__text">Я працюю задля захисту інтересів своїх клієнтів і завжди думаю про
					їхні потреби.
					І для мене це не просто пафосна фраза. Бо я переконана: саме побудова довірливих
					стосунків з клієнтом і розуміння його потреб дозволяє мені вміло застосувати весь мій
					досвід.</p>
				<p class="myself__text">Напевне якраз через це мене часто рекомендують своїм друзям ті, хто
					працював зі мною хоч
					раз і знає мене як спеціаліста.</p>
				<p class="myself__text"><span>Мій девіз звучить так:</span> успіх клієнта = мій успіх.
				</p>
			</div>
			<div class="myself__box-img">
			</div>
		</div>
	</div>
</article>