<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="banner" role="banner">
	<div class="banner__top">
		<div class="header__container">
			<div class="banner__box">
				<ul class="banner__top-list">
					<li class="banner__top-item">
						<img src="assets/images/icons/time.svg" alt="">
						Пн-Пт 09:00 - 18:00
					</li>
					<li class="banner__top-item">
						<a href="mailto:advocatherine@gmail.com">
							<img src="assets/images/icons/mail.svg" alt="">
							advocatherine@gmail.com</a>
					</li>
					<li class="banner__top-item">
						<a href="tel:+380971336851">
							<img src="assets/images/icons/phone.svg" alt="">
							+38 097 133 68 51
						</a>
					</li>
				</ul>
				<a href="https://advocatherine.expert/blog/rozluchennya-pid-chas-voyennogo-stanu:-chi-mozhlivo-ta-chi-yakos-vidriznyayetsya-vid-mirnogo-chasu/" target="_blank" class="banner__top-divorce">
					Розлучення під час війни
				</a>
				<a href="#contact" class="banner__top-call">
					Замовити дзвінок
					<img src="assets/images/icons/arrow.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</header>
