<article class="certifications region">
	<div class="certifications__container wrapper">
		<h2 class="certifications__title _title">Підтверджуючі освіту документи, грамоти, досягнення, курси, подяки
		</h2>
		<div class="certifications__slider-box">
			<!-- Оболонка слайдера -->
			<div class="certifications__slider swiper">
				<!-- Частина слайдера, що рухається -->
				<div class="certifications__wrapper swiper-wrapper">
					<!-- Слайд -->
                    {% for item in certificates %}
					<div class="certifications__slide swiper-slide">
						<div class="certifications__slide-img">
							<img src="../assets/images/certificates/{{ item.title }}" alt="{{ item.alt}}">
						</div>
					</div>
                    {% endfor %}
				</div>
				<!-- Якщо потрібна навігація (ліворуч/праворуч) -->
				<button type="button" class="certificationsswiper-button-prev">
					<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M22 25L16 19L22 13" stroke="#252525" stroke-width="2" stroke-linecap="round"/>
<rect x="39.5" y="39.5" width="39" height="39" transform="rotate(180 39.5 39.5)" stroke="#252525"/>
</svg>
				</button>
				<button type="button" class="certificationsswiper-button-next">
					<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17 15L23 21L17 27" stroke="#252525" stroke-width="2" stroke-linecap="round"/>
<rect x="0.5" y="0.5" width="39" height="39" stroke="#252525"/>
</svg>
				</button>
			</div>
		</div>
	</div>
</article>