<section id="contact-form" class="contact-form region" data-theme="{{ formTheme }}"> 
	<div class="contact-form__container wrapper">
		<div class="contact-form__box">
			<div class="contact-form__left flow">
				<h2 class="contact-form__title">Для запису на консультацію
				</h2>
				<p class="contact-form__subtitle">Заповніть форму, щоб замовити зворотній дзвінок</p>
				<form action="/success" method="POST" netlify-honeypot="bot-field" data-netlify="true">
					<p class="visually-hidden">
    					<label>
    					  Не заповнюй це поле якщо ти людина: <input name="bot-field" />
    					</label>
  					</p>
					<div class="contact-form__box-input">
						<input type="text" id="name" name="name" autocomplete="name" placeholder="Ім’я" class="contact-form__input" required="true">
					</div>
					<div class="contact-form__box-input">
						<input type="tel" id="telephone-number" name="telephone-number" autocomplete="tel" inputmode="tel" placeholder="Телефон" class="contact-form__input" required="true">
					</div>
					{# <div class="contact-form__box-input">
						<textarea autocomplete="off" id="message" name="message" placeholder="Повідомлення" class="contact-form__input" rows="3"></textarea>
					</div> #}
					<div class="contact-form__button">
						<button type="submit" class="button">Відправити</button>
					</div>
				</form>
				<p class="contact-form__policy">*натискаючи «Відправити», Ви погоджуєтесь
					з <a href="/privacy/">політикою конфіденційності</a>
				</p>
			</div>
			<div class="contact-form__right flow">
				<h2 class="contact-form__title _right-title">Контакти
				</h2>
				<div class="contact-form__right-box">
					<p class="contact-form__text">Телефон</p>
					<a href="tel:{{ meta.address.mobileCall }}" class="contact-form__link">{{ meta.address.mobileDisplay }}
					</a>
				</div>
				<div class="contact-form__right-box">
					<p class="contact-form__text">E-mail</p>
					<a href="mailto:{{ meta.address.email }}" class="contact-form__link">{{ meta.address.email }}</a>
				</div>
				<div class="contact-form__right-box">
					<p class="contact-form__text">Адреса</p>
					<a href="https://goo.gl/maps/WSqvkUqKB3n" target="_blank" rel="noopener noreferrer" class="contact-form__link">{{ meta.address.addressDisplay }}</a>
				</div>
				<div class="contact-form__icons">
                    {% for item in social %}
					<a href={{ item.url }} aria-label="Social icon" rel="me">
						{% if formTheme %}
						<div aria-hidden="true">{% include 'svg/' + item.iconWhite %}</div>
						{% else %}
						<div aria-hidden="true">{% include 'svg/' + item.icon %}</div>
						{% endif %}	
					</a>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>