<article class="exp">
    <div class="education wrapper flow">
        <h2 class="education__title _title">Освіта</h2>
	    <p class="education__text bold">Вища - спеціальність правознавство.</p>
	    <p class="education__text">Факультет Інститут підготовки кадрів для органів прокуратури України.</p>
	    <p class="education__text">Диплом магістра з відзнакою Національної Юридичної академії України імені Ярослава Мудрого.</p>
    </div>
    <div class="experience wrapper">
	    <h2 class="exp__title _title">Досвід роботи</h2>
	    <div class="exp__box">
	    	<div class="exp__item">
	    		<p class="exp__date">08.2008 - 06.2009</p>
	    		<p class="exp__text">юрисконсульт в ТОВ "Універсальна торгова група".
	    		</p>
	    	</div>
	    	<div class="exp__item">
	    		<p class="exp__date">07.2009 - 02.2012</p>
	    		<p class="exp__text">помічник прокурора Рівненського району (закріплені напрямки роботи щодо
	    			захисту конституційних прав дітей, нагляд за дотриманням законодавства виконавчою
	    			службою та представництво інтересів громадян у судах).
	    		</p>
	    	</div>
	    	<div class="exp__item">
	    		<p class="exp__date">02.2012 - 07.2012</p>
	    		<p class="exp__text">помічник прокурора м. Рівне (з 01.06.2012 по 22.07.2012 прокурор
	    			прокуратури м. Рівне). Закріплені напрямки роботи нагляд за дотриманням законодавства у
	    			сфері оплати праці, пенсійного забезпечення).
	    		</p>
	    	</div>
	    	<div class="exp__item">
	    		<p class="exp__date">07.2012 - 10.2013</p>
	    		<p class="exp__text">прокурор відділу представництва інтересів громадян і держави в судах
	    			управління представництва прокуратури Рівненської області (представництво інтересів
	    			держави, державних органів, громадян у судах).
	    		</p>
	    	</div>
	    	<div class="exp__item">
	    		<p class="exp__date">10.2013 - 01.2014</p>
	    		<p class="exp__text">старший прокурор відділу захисту конституційних прав і свобод громадян
	    			та інтересів держави прокуратури Рівненської області (загальний нагляд за дотримання
	    			законодавства у сфері банкрутства та охорони праці).
	    		</p>
	    	</div>
	    	<div class="exp__item">
	    		<p class="exp__date">З 07.2015 і до нині</p>
	    		<p class="exp__text">практикуючий адвокат.
	    		</p>
	    	</div>
	    </div>
	</div>
</article>