{% set activePage = page.url | url %}

<footer class="wrapper" role="contentinfo">
	<div class="footer__box region">
	<div class="footer__logo">
		<a class="brand" href="/" {% if activePage === '/' %} aria-current="page" aria-label="Logo" {% endif %}>
			{% include "svg/logo.svg" %}
		</a>
	</div>
  
	<ul class="footer__nav" role="list">
	  <li class="nav__item">
	    <a href="/" {% if activePage === '/' %} aria-current="page" {% endif %} class="nav__title">Головна</a>	
	    <ul class="nav__ul" role="list">
		{% for item in navigation.main %}
	      <li>
	        <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url)
          | safe }}>{{ item.text }}</a>
	      </li>
		{% endfor %}	
	    </ul>
	  </li>
	
	  <li class="nav__item nav__item--extra">
	    <p class="nav__title">Послуги</p>
	
	    <ul class="nav__ul nav__ul--extra" role="list">
		{% for item in navigation.services %}
	      <li>
	        <a href="{{ item.url }}">{{ item.text }}</a>
	      </li>
		{% endfor %} 
	    </ul>
	  </li>
	
	  <li class="nav__item">
		{% for item in navigation.policy %}
	    <a href="{{ item.url }}" class="footer__link">{{ item.text }}</a>
		{% endfor %}
	
	    <ul class="nav__ul" role="list">
	      <li>
			<div class="legal">
	        <p>&copy; 2016 - {% year %} {{ meta.siteDescription }}</p>
			</div>
	      </li>
	
	      <li>
	        <a href="mailto:advocate.rivne@gmail.com">advocate.rivne@gmail.com</a>
	      </li>
	
	      <li>
	        <a href="tel:+380971336851">+38 097 133 68 51</a>
	      </li>
	    </ul>
		<ul class="nav__ul footer__icons" role="list" aria-label="Social links">
	      {% for item in social %}
		  <li>
	        <a href="{{ item.url }}" rel="me">
				<div aria-hidden="true">{% include 'svg/' + item.icon %}</div>
			</a>
	      </li>
		{% endfor %}
	    </ul>
	  </li>
	</ul>
	</div>
</footer>