<header class="header__container" role="banner">
	<div class="header__box-bottom">
		<div class="header__logo">
      {% set activePage = page.url | url %}
			<a href="/" {% if activePage === '/' %} aria-current="page" {% endif %}><img src="assets/images/icons/logo_header.svg" alt=""></a>
		</div>

    {% include "partials/menu.njk" %}

	</div>
</header>

