<section class="map wrapper">
    <div class="contact__map-box">
		<div class="contact__map-img">
            <a href="https://goo.gl/maps/WSqvkUqKB3n" target="_blank" rel="noopener noreferrer">
			    {% imagePlaceholder "./src/assets/images/map.jpg", "Фрагмент Google карти із поміткою офісу адвоката", "" %}
            </a>
		</div>
		<div class="contact__map-content flow">
			<p class="contact__map-text">Офіс знаходиться у дворі, з тильної сторони кафе “М‘ясо в
				бокалі”.
			</p>
			<p class="contact__map-text">Автомобіль можна залишити на парковці Екомаркету.</p>
			<p class="contact__map-text">Якщо ви добираєтесь міським транспортом, то вийти можна або на
				зупинці Кінотеатр, або
				ЦУМ. Звідти в напрямку Міського Будинку культури по вулиці Соборній необхідно пройти
				300м.</p>
		</div>
	</div>
</section> 