<article class="media">
	<div class="media__container">
		<h2 class="media__title _title">Я в медіа-просторі</h2>
		<p class="media__subtitle _subtitle">Перегляньте відео моїх консультацій на телеканалі «Рівне 1»</p>
		<div class="media__slider-box">
			<!-- Оболонка слайдера -->
			<div class="media__slider swiper" data-showmore="items">
				<!-- Частина слайдера, що рухається -->
                <div class="media__wrapper swiper-wrapper" data-showmore-content="3">
                    <!-- Слайд -->
                    {% for item in media %}  
					<div class="media__slide swiper-slide">
						<div class="media__slide-img">
							{% youtube item.videoid, item.label %}
						</div>
						<p class="media__slider-title">{{ item.title }}</p>
						<p class="media__slider-text">Ефір від {{ item.date }}</p>
					</div>
                    {% endfor %}
				</div>
				<button hidden data-showmore-button type="button" class="block__more mobile">
					<a href="https://www.youtube.com/playlist?list=PLDKh9M3PsFucU9Z7I3gUJDp_ciF-Jnk7f" target="_blank">Більше відео</a>
				</button>
				<!-- Якщо потрібна навігація (ліворуч/праворуч) -->
				<button type="button" class="mediaswiper-button-prev">
					<img src="assets/images/icons/left1.svg" alt="">
				</button>
				<button type="button" class="mediaswiper-button-next">
					<img src="assets/images/icons/right1.svg" alt="">
				</button>
			</div>
		</div>
	</div>
</article>