		<nav id="mainnav" class="header__menu menu" aria-label="Main">
			<button type="button" class="menu__icon icon-menu"><span></span></button>
			<div class="menu__body">
				<ul class="menu__list">
          {% for item in navigation.top %}
					    <li>
                <a
                  class="nav menu__link"
                  href="{{ item.url }}"
                  {{
                  helpers.getLinkActiveState(item.url,
                  page.url)
                  |
                  safe
                  }}
                  >{{ item.text }}</a>
    </li>
    {% endfor %}
				</ul>
			</div>
		</nav>