<section class="photos region">
    <div class="wrapper">
        <div class="grid" data-layout='50-50'>
            {% imagePlaceholder "./src/assets/images/office_ext.jpg", "Фасад офісу", "Фасад офісу" %}
            {% imagePlaceholder "./src/assets/images/office_int.jpg", "Фото офісу з середини", "Фото офісу з середини" %}
        </div>
    </div>
</section>