<h2 class="price__subtitle">Перелік і вартість основних послуг:</h2>
<div class="price__box" data-spollers="768,max" data-one-spoller>
						<div class="price__item">
							<button class="price__item-left _spoller-active" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Консультація</p>
									<p class="price__item-footnote">за попереднім записом офлайн або онлайн
									</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Розгорнута консультація.
											Детальний розбір ситуації з вивченням документації, деталізовані роз’яснення
											та
											вироблення стратегії подальших дій.
										</p>
									</div>
									<p class="price__right-cost">1400 грн.</p>
								</div>
							</div>
						</div>
						<div class="price__item">
							<button class="price__item-left" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Адвокатський запит</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Документ, що дозволяє витребувати необхідну
											інформацію в
											короткий термін, протягом 5 робочих днів.
											Потрібен для отримання відомостей та документів і працює як для державних
											установ (Виконавча служба, РАЦС, Міська рада), так і щодо підприємств,
											організацій
											і навіть фіз. осіб.
										</p>
									</div>
									<p class="price__right-cost">від 2000 грн.</p>
								</div>
							</div>
						</div>
						<div class="price__item">
							<button class="price__item-left" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Робота з юридичною документацією:
										заяви, скарги, звернення
									</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Робота з супровідними документами по справі, які
											потребують детального викладу та обгрунтування.
											Потрібно у випадку якщо адвокат самостійно працює, щоб сформувати повний
											пакет
											документів та збирає доказову базу.
											До прикладу, робота з органами опіки і піклування, військкоматами,
											виконавчою
											службою. Також у випадку, коли є можливості вирішити питання між сторонами,
											не
											доводячи справу до суду.

										</p>
									</div>
									<p class="price__right-cost">2000 – 4000 грн.</p>
								</div>
							</div>
						</div>
						<div class="price__item">
							<button class="price__item-left" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Отримання свідоцтв про шлюб та розірвання шлюбу</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Для клієнтів, що перебувають за кордоном або
											потребують
											відновлення втраченої документації.
										</p>
									</div>
									<p class="price__right-cost">2500 – 3500 грн.</p>
								</div>
							</div>
						</div>
						<div class="price__item">
							<button class="price__item-left" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Складання позову до суду від імені клієнта</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Позов - це основний документ у судовій справі, який
											формує хід справи. У ньому викладаються причини звернення до суду
											з долученням відповідних доказів правоти позивача.
										</p>
									</div>
									<p class="price__right-cost">8000 – 15000 грн.</p>
								</div>
							</div>
						</div>
						<div class="price__item">
							<button class="price__item-left" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Відзвив (заперечення на позов)</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Документ, що містить виклад і обґрунтування причин
											незгоди з позовом та його заперечення. Містить подання і опис доказів, які
											підтверджують правоту відповідача.
											Включає в себе розгорнуту консультацію клієнта та безпосередньо подання до
											суду.
										</p>
									</div>
									<p class="price__right-cost">6000 – 15000 грн.</p>
								</div>
							</div>
						</div>
						<div class="price__item">
							<button class="price__item-left" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Повний супровід, ведення справи з розірвання шлюбу</p>
									<p class="price__item-footnote">спрощене провадження
									</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Комплексна робота: відкриття справи, збір доказової
											бази, обгрунтування претензій
											і вимог клієнта і ведення до результату.
										</p>
									</div>
									<p class="price__right-cost">6000 грн.</p>
								</div>
							</div>
						</div>
						<div class="price__item">
							<button class="price__item-left" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Повний супровід, ведення справи</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Справи різної складності та тематики, окрім
											криміналу.
											Повний супровід включає в себе: клопотання, участь у судових засіданнях,
											витребування доказів через суд, виклик і допит свідків, подання заперечень,
											заяви про призначення експертиз, судові дебати, отримання документів в суді
											та
											інших установах і подання доказів, опрацювання заперечень іншої сторони і
											багато
											іншого. <br>
											*окремо враховується вартість позовної заяви.
										</p>
									</div>
									<p class="price__right-cost">від 9000 грн.</p>
								</div>
							</div>
						</div>
						<div class="price__item">
							<button class="price__item-left" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Складання рапортів військовослужбовців</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Відповідний документ щодо: <br>
											звільнення з військової служби, <br>
											отримання відпустки на лікування, <br>
											проходження ВЛК та інші.
										</p>
									</div>
									<p class="price__right-cost">4000 грн.</p>
								</div>
							</div>
						</div>
						<div class="price__item">
							<button class="price__item-left" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Скарга на рішення ВЛК</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Правомірне оскарження рішення локальної ВЛК до
											вищестоящої ВЛК регіону задля зміни рішення про придатність до військової
											служби.
										</p>
									</div>
									<p class="price__right-cost">від 8000 грн.</p>
								</div>
							</div>
						</div>
						<div class="price__item">
							<button class="price__item-left" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Апеляційні скарги на ухвалу або рішення суду</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Дозволяють переглянути рішення суду, з яким ми не
											згодні. Деталізований виклад ходу справи з неврахованих аргументів і невірно
											з’ясованих обставин.
										</p>
									</div>
									<p class="price__right-cost">8000 - 20000 грн.</p>
								</div>
							</div>
						</div>
						<div class="price__item">
							<button class="price__item-left" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Робота безпосередньо на судових засіданнях</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Коли справа потребує комплексного ведення та
											постійної
											особистої участі адвоката в суді, щоб представляти інтереси клієнта, вносити
											ясність в розгляді справи, заперечувати проти долучень неправдивих доказів
											та
											аргументів іншої сторони, заперечувати проти клопотань та залучення
											непотрібних
											свідків, брати участь у допиті та компрометації, тощо.
											Робота різниться відносно виду судової інстанції: суд першої інстанції, суд
											апеляційної інстанції, суд касаційної інстанції.
										</p>
									</div>
									<p class="price__right-cost">від 2500 грн.</p>
								</div>
							</div>
						</div>
						<div class="price__item">
							<button class="price__item-left" data-spoller>
								<div class="price__item-box">
									<p class="price__item-title">Ситуації відмін</p>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 11.75H23.5" stroke="white" stroke-width="2" />
									<path d="M11.75 23.5L11.75 5.96046e-08" stroke="white" stroke-width="2" />
								</svg>
							</button>
							<div class="price__item-right">
								<div class="price__item-spoller">
									<div class="price__right-text">
										<p class="price__item-text">Якщо засідання не відбулось з причин незалежних від
											адвоката, він претендує на компенсацію 30% від суми участі в засіданні.
										</p>
									</div>
									<p class="price__right-cost">850 грн.</p>
								</div>
							</div>
						</div>
					</div>
					<p>Практично у кожної справи є також супутні і судові витрати: переклад,
						апостиль, відправка/отримання документів поштою, державне мито, судовий збір, транспортні
						витрати.
					</p>
					<p> Вартість моєї роботи завжди обумовлена та обгрутнована.
						Кожен з моїх клієнтів за запитом отримує офіційні рахунки оплати за мою роботу та чеки щодо
						додаткових і супутніх витрат у справі.</p>