<article class="special region">
	<div class="special__container wrapper">
		<h2 class="special__title _title">Основна спеціалізація:</h2>
		<ul class="special__list grid">
			<li>вирішення спорів що стосуються нерухомого майна та землі; </li>
			<li>консультування та ведення пенсійних справ;</li>
			<li>трудові спори;</li>
			<li>ведення сімейних справ;</li>
			<li>ведення справи щодо компенсації завданої шкоди;</li>
			<li>ведення справ щодо зняття арештів та інших справ у виконавчій службі;</li>
			<li>консультування та ведення справ для бізнесу;</li>
			<li>консультування та супровід справ, що стосуються ДТП;</li>
			<li>консультування та ведення справ щодо захисту прав споживачів.</li>
			<li>супровід справ щодо мобілізації та військовослужбовців;</li>
		</ul>
	</div>
</article>