<article class="sphere">
	<div class="sphere__container">
		<h2 class="sphere__title _title">Сфери моєї компетенції
		</h2>
		<p class="sphere__sutitle _subtitle">Я можу допомогти у вирішенні наступних питань:
		</p>
		<div class="grid">
        {% for item in sphere %}
			<div class="sphere__item">
				<div class="sphere__item-box">
					<div class="sphere__icon">
						<img src="assets/images/icons/{{ item.icon}}" alt="">
					</div>
					<div class="sphere__content">
						<a href="{{ item.url | url }}" class="sphere__item-title">{{ item.title }}</a>
						<p class="sphere__text">{{ item.description }}</p>
					</div>
				</div>
			</div>
        {% endfor %}
		</div>
	</div>
</article> 